<div class="container mx-auto w-full grid grid-cols-2 gap-5 p-5 sm:grid-cols-4 sm:m-100">
  <div class="card bg-gray-100 min-w-min h-full p-5 rounded-2xl">
    <div class="image">
      <img src="./assets/shot.png" alt="Image" class="rounded-md mb-3">
    </div>
    <div class="title text-gray-800 font-bold mb-2 line-clamp-1">test</div>
    <div class="caption text-ellipsis line-clamp-3">{{ content }}</div>
  </div>
  <div class="card bg-gray-100 min-w-min h-full p-5 rounded-2xl ">
    <div class="image">
      <img src="./assets/shot.png" alt="Image" class="rounded-md mb-3">
    </div>
    <div class="title text-gray-800 font-bold mb-2 line-clamp-1">test</div>
    <div class="caption text-ellipsis line-clamp-3">{{ content }}</div>
  </div>
<!--  <div class="fix-sidebar sm:hidden bg-red-500 bg-opacity-32 rounded-xl shadow-lg shadow-black/10 backdrop-blur-[8.9px] fixed bottom-0 w-full mx-auto">home</div>-->
</div>
